<div class="flex justify-center items-center h-screen">
  <div>
    <div class="w-[30em] border border-gray-300 p-4 rounded shadow-sm">

      <div class="mx-auto">
        <%= image_tag("Life4Pets-logo", class: "life-4-pets-logo-link mx-auto mb-6")  %>
      </div>

      <p class="mb-6 text-gray-500 text-center text-sm ">Sign up to see great content of our flurry friends</p>
      <hr class="mb-6">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="mb-6">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", id:"email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-300 focus:border-gray-300 block w-full p-2.5", placeholder:"john.doe@company.com" %>
        </div>

        <div class="mb-6">
          <%= f.password_field :password, autocomplete: "current-password", type: "password", id:"email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-300 focus:border-gray-300 block w-full p-2.5", placeholder:"•••••••••" %>
        </div>

        <div class="mb-6">
          <% if devise_mapping.rememberable? %>
            <div class="flex items-center mb-6 h-5">
              <%= f.check_box :remember_me, id:"remember", type:"checkbox", value:"", class:"w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 " %>
              <%= f.label :remember_me, class:"ml-2 text-sm font-medium text-gray-500" %>
            </div>
          <% end %>
          <div class="mb-6">
            <%= f.submit "Log in", type:"submit", class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" %>
          </div>
        </div>

      <% end %>
      <hr class="mb-6">
      <div class="flex justify-center text-xs text-gray-500 hover:text-gray-800 hover:underline ">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>

    </div>
    <div class="w-[30em] border border-gray-300 p-4 rounded shadow-sm mt-2">
      <p class="text-sm text-center text-gray-500 ">Don't have an account yet? <span class="text-base text-gray-600 hover:text-gray-800 hover:underline "><%= link_to "Sign up!", new_user_registration_path %></span></p>
    </div>

  </div>
</div>
